asgiref==3.8.1
crispy-bootstrap5==2025.4
Django==5.2
django-ckeditor==6.7.2
django-crispy-forms==2.4
django-environ==0.12.0
django-js-asset==3.1.2
django-phonenumber-field==8.1.0
django-phonenumbers==1.0.1
django-storages==1.14.6
phonenumbers==9.0.3
pillow==11.2.1
psycopg2==2.9.10
psycopg2-binary==2.9.10
sqlparse==0.5.3
