<footer class="bg-dark py-7">
    <div class="container">
        <div class="row mx-auto">
            <div class="col-lg-7 mx-auto text-center">
                <p class="fw-bold text-white">COVOITURAGE.SN</p>
                <p class="mt-3 text-white"></p>
                <!-- Links -->
                <ul class="nav justify-content-between text-primary-hover mt-3 mt-md-0">
                    <li class="nav-item"><a class="nav-link p-2 text-white" href="#">Mentions légales</a></li>
                    <li class="nav-item"><a class="nav-link p-2 text-white" href="#">Conditions générales</a></li>
                    <li class="nav-item"><a class="nav-link p-2 text-white" href="#">Contact</a></li>
                    <li class="nav-item"><a class="nav-link p-2 text-white" href="#">Aide</a></li>
                    <li class="nav-item"><a class="nav-link p-2 text-white" href="#">Conducteur</a></li>
                    <li class="nav-item"><a class="nav-link p-2 text-white" href="#">Passager</a></li>
                </ul>
                <!-- copyright text -->
                <div class="text-muted text-primary-hover mt-3">Copyrights ©2023 COVOITURAGE.SN</div>
            </div>
        </div>
    </div>
</footer>


