<!--{% load static %}-->
<!--<header>-->
<!--    &lt;!&ndash; Logo Nav START &ndash;&gt;-->
<!--    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top bg-light">-->
<!--        <div class="container">-->
<!--            <a class="navbar-brand" href="#">covoiturage.sn</a>-->
<!--            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"-->
<!--                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"-->
<!--                    aria-expanded="false" aria-label="Toggle navigation">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
<!--            <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">-->
<!--                    <li class="nav-item fw-bold"><a class="nav-link" href="#}">Tous les trajets</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item fw-bold"><a class="nav-link" href="#">Publier un-->
<!--                        trajet</a></li>-->

<!--                    <li class="nav-item fw-bold"><a class="nav-link" href="#">Mon Compte</a></li>-->
<!--                    <li class="nav-item fw-bold"><a class="nav-link" href="#">Déconnexion</a></li>-->

<!--                    <li class="nav-item fw-bold"><a class="nav-link" href="#">Inscription</a></li>-->
<!--                    <li class="nav-item fw-bold"><a class="nav-link" href="#">Connexion</a></li>-->

<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->
<!--</header>-->


<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">covoiturage.sn</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item fw-bold">
                        <a class="nav-link" href="#">Tous les trajets</a>
                    </li>
                    <li class="nav-item fw-bold">
                        <a class="nav-link" href="#">Publier un trajet</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item fw-bold">
                        <a class="nav-link" href="#">Dashboard</a>
                    </li>
                    <li class="nav-item fw-bold">
                        <a class="nav-link" href="{% url 'logout' %}">Déconnexion</a>
                    </li>
                    {% else %}
                    <li class="nav-item fw-bold">
                        <a class="nav-link" href="{% url 'register' %}">Inscription</a>
                    </li>
                    <li class="nav-item fw-bold">
                        <a class="nav-link" href="{% url 'login' %}">Connexion</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>