/* titles */
article.entry-content h1,
article.entry-content h2,
article.entry-content h3,
article.entry-content h4,
article.entry-content h1 * ,
article.entry-content h2 * ,
article.entry-content h3 * ,
article.entry-content h4 * {
    font-size: 1.2rem !important;
    line-height: 1.3 !important;
    margin-top: 1em !important;
    margin-bottom: 0.5em !important;
    text-transform: uppercase !important;
}

ul#profile,  ul#trip, ul#sexe {
    list-style-type: none;
}
ul#profile li, ul#trip li, ul#sexe li {
    display: inline;
    padding: 0 1em;
    margin-left: -1.5em;
}

input#price, input#seat_go, input#luggage {
    border: none;
    text-align: center;
    background: none;
    padding-left: 20px;
    padding-right: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]:focus{
    outline: none;
}

.page-item.disabled .page-link {
    cursor: not-allowed;
    opacity: 0.5;
    color: #ccc;
}

img.my-profile-image {
    width: 60px !important;
    height: 60px !important;
}

/* Home trajet */

.circle {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #27ae60;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
    font-size: 24px;
    font-weight: bold;
    color: #27ae60;
}

.choices__inner {
    border-radius: 0px !important;
}

/* stop bus */

.stop-line {
    position: relative;
    margin-left: 20px;
    padding-left: 30px;
}

.stop-line::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 29px;
    width: 3px;
    height: 99%;
    background-color: #000;
    z-index: 0;
}

.stop-item {
    position: relative;
    margin-bottom: 24px;
}

.stop-dot {
    position: absolute;
    top: 4px;
    left: -6px;
    width: 12px;
    height: 12px;
    background-color: #000;
    border-radius: 50%;
    z-index: 1;
}

.stop-name {
    padding-left: 10px;
    font-weight: 500;
}
