{% extends "layout.html" %}

{% block content %}
<main>
    <section class="my-5">
        <div class="container">
            <h1 class="h3 text-uppercase">Charte et conditions générales d'utilisation</h1>
            <hr class="mt-2 mb-4">
    <h2 class="h4 text-uppercase">Préambule</h2>
    <p>Cette charte vise à définir les principes de déontologie, de sécurité et les modalités d'utilisation du service
        de covoiturage Covoiturage.sn.</p>

    <p>Elle est applicable à tous les usagers de Covoiturage.sn. Chaque membre de la communauté, conducteur ou passager,
        accepte ces conditions dès son inscription sur la plateforme.</p>
    <h2 class="h4 text-uppercase">Engagements des utilisateurs</h2>
    <h3 class="h6 text-uppercase">Comportement sur le site internet</h3>
    <p>Les usagers s'engagent à ne pas publier d'informations diffamatoires, injurieuses ou préjudiciables à autrui.
        Ils s'engagent aussi à ne pas tromper en se faisant passer pour d'autres personnes. L'utilisation du site doit
        être personnelle et non commerciale. L'usager reconnaît que Covoiturage.sn n'est pas responsable du contenu
        des échanges avec d'autres usagers et s'engage à dégager Covoiturage.sn de toute responsabilité, conformément
        à la section « Garantie ».</p>
    <h3 class="h6 text-uppercase">Sécurité et code de la route</h3>
    <p>Le conducteur atteste avoir le droit de conduire le véhicule et, idéalement, a informé son assureur de son
        intention de pratiquer le covoiturage. Il garantit que le véhicule est en bon état (contrôle technique à jour)
        et conforme aux lois en vigueur. Le conducteur s'engage à respecter le code de la route, à prendre soin de ses
        passagers, et à conduire prudemment. Si un passager est amené à conduire, le propriétaire doit s'assurer
        de sa capacité à conduire (permis valide) et que l'assurance autorise la conduite par un tiers.
        Lors de l'accueil d'un passager, des précautions doivent être prises pour assurer la sécurité de tous.</p>
    <h3 class="h6 text-uppercase">Assurance</h3>
    <p>Une assurance spécifique n'est pas requise pour le covoiturage tant que la participation des passagers ne
        dépasse pas les frais de trajet (pas de profit pour le conducteur). Les passagers sont couverts par
        l'assurance responsabilité civile du conducteur. Pour les trajets domicile-travail, une couverture
        similaire à celle des accidents de travail est prévue. D'autres assurances optionnelles peuvent offrir
        plus de sécurité mais ne sont pas obligatoires. Par exemple, l'assurance « familiale » peut couvrir les
        dommages causés au véhicule par un passager.</p>
    <h3 class="h6 text-uppercase">Respect</h3>
    <p>Les covoitureurs doivent adopter un langage et un comportement respectueux. Les propos offensants, vulgaires
        ou violents sont interdits. Ils s'engagent à contribuer à un réseau de covoiturage de qualité,
        notamment en tenant à jour leurs annonces et en répondant rapidement aux demandes.</p>
    <h3 class="h6 text-uppercase">Confiance</h3>
    <p>Lors d'un trajet, le conducteur et les passagers doivent pouvoir justifier de leur identité et le
        conducteur de son permis de conduire et de l'assurance du véhicule. Ces informations doivent être
        vérifiables, bien qu'elles ne soient pas contrôlées à l'inscription sur Covoiturage.sn.</p>
    <h3 class="h6 text-uppercase">Ponctualité</h3>
    <p>Les covoitureurs s'engagent à respecter les trajets convenus et à informer rapidement en cas d'empêchement.</p>
    <h2 class="h4 text-uppercase">Engagements de covoiturage.sn</h2>

            <h3 class="h6 text-uppercase">Engagements</h3>

<p>covoiturage.sn facilite la mise en relation de conducteurs et passagers pour des trajets partagés,
    visant à réduire les coûts de transport. Le service s'étend à tout le territoire sénégalais.
    Covoiturage.sn s'engage à promouvoir un réseau de covoiturage fiable et convivial et peut limiter
    l'accès au service pour préserver sa qualité. La charte peut être mise à jour pour refléter les évolutions du service.</p>

            <h3 class="h6 text-uppercase">Responsabilités</h3>

<p>Les usagers agissent sous leur entière responsabilité, excluant toute garantie de Covoiturage.sn en cas de dommages
    lors d'un trajet. Le déroulement du trajet est convenu entre conducteur et passagers,
    sans organisation par Covoiturage.sn, qui facilite uniquement la mise en relation.</p>

            <h3 class="h6 text-uppercase">Disponibilité du service</h3>


<p>Covoiturage.sn s'efforce de maintenir le site accessible, sans pouvoir garantir une disponibilité sans faille.
    Des modifications ou interruptions temporaires ou permanentes peuvent survenir sans préavis.</p>

            <h3 class="h6 text-uppercase">Inscriptions</h3>

<p>L'inscription se fait en ligne, avec engagement à fournir des informations exactes et à les actualiser.
    En cas d'informations fausses ou obsolètes, Covoiturage.sn peut suspendre ou résilier l'accès au service.</p>

            <h3 class="h6 text-uppercase">Confidentialité des identifiants</h3>


<p>L'usager est responsable de la sécurité de son identifiant et mot de passe et doit signaler toute utilisation
    non autorisée ou atteinte à la sécurité.</p>

                <h3 class="h6 text-uppercase">Solidarité</h3>


<p>Covoiturage.sn offre la possibilité de participer à un covoiturage solidaire, facilitant l'accès à l'emploi
    ou à la formation pour ceux en difficulté de mobilité. Les trajets solidaires sont indemnisés
    comme un covoiturage classique, et les usagers peuvent choisir de participer à cette initiative lors de leur inscription.
</p>

            <h3 class="h6 text-uppercase">Garantie</h3>


<p>Les usagers s'engagent à indemniser Covoiturage.sn en cas d'action en justice liée à une utilisation non
    conforme du service, incluant les frais éventuels.</p>

            <h3 class="h6 text-uppercase">Mineurs</h3>

<p>La responsabilité du covoiturage de mineurs incombe entièrement à leurs parents ou tuteurs légaux,
    qui doivent donner leur accord pour l'inscription du mineur.</p>

            <h3 class="h6 text-uppercase">Animaux et bagages</h3>


Le transport d'animaux ou de bagages doit être convenu à l'avance entre conducteur et passagers,
            avec des informations claires fournies lors de l'inscription.</p>

            <h3 class="h6 text-uppercase">Participation aux frais</h3>


<p>L'utilisation de covoiturage.sn est gratuite. Les conducteurs peuvent demander une contribution aux
    frais mais ne doivent pas en tirer profit. Le partage des frais se fait directement entre les usagers,
    sans échange monétaire via la plateforme.</p>

            <h3 class="h6 text-uppercase">Conservation des données</h3>


<p>Les données d'inscription sont conservées jusqu'à désinscription de l'usager, avec certaines données
    pouvant être supprimées après dix-huit mois. covoiturage.sn ne partage pas les données à des fins commerciales et
    respecte la confidentialité des informations.</p>

            <h3 class="h6 text-uppercase">Informatique et liberté</h3>


<p>Les usagers ont le droit d'accéder, rectifier ou supprimer leurs données personnelles. Covoiturage.sn
    respecte la législation sur la protection des données et s'engage à ne pas divulguer les
    informations personnelles à des tiers non autorisés.</p>

            <h3 class="h6 text-uppercase">Utilisation de cookies</h3>


<p>covoiturage.sn peut utiliser des cookies pour améliorer la navigation. Les usagers peuvent
    refuser les cookies, bien que cela puisse limiter l'accès à certains services.</p>

            <h3 class="h6 text-uppercase">Propriété intellectuelle</h3>


<p>Les contenus du site sont protégés par le droit de la propriété intellectuelle. L'usage de ces
    contenus est autorisé dans le respect de ces droits, sans possibilité de reproduction ou
    création d'œuvres dérivées sans autorisation explicite.</p>

            <h3 class="h6 text-uppercase">Liens externes</h3>

<p>Covoiturage.sn n'est pas responsable des contenus ou du fonctionnement des sites tiers liés au service.
    Les liens externes doivent être retirés sur demande de Covoiturage.sn.
    Le domaine et les données du site appartiennent à l'organisme gérant Covoiturage.sn,
    qui en assure l'exploitation.</p>

            <h3 class="h6 text-uppercase">Modification des conditions</h3>

            <p>
                Covoiturage.sn se réserve le droit de modifier les conditions générales d'utilisation à tout moment.
                Les usagers seront informés des modifications par courriel ou par une notification sur le site.
                L'utilisation du service après modification vaut acceptation des nouvelles conditions.
            </p>

        </div>
    </section>
</main>
{% endblock %}

