{% extends "layout.html" %}
{% load humanize %}
{% load static %}
{% load city_tags %}

{% block content %}
<main>
<!-- =======================
Search START -->
{% include 'partials/search.html' %}

<!-- ======================= Search START ================== -->
    <section class="pt-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2 class="h3 mb-4">Trouver un Covoiturage au Sénégal</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-9">
                {% for trip in trips %}
                <!-- Card item START -->
                <a href="{{ trip.get_custom_url }}" class="text-success">
                <div class="card border rounded-2 mb-3 shadow">
                    <!-- Card header -->
                    <div class="bg-light py-3 rounded-top card-header border-bottom d-md-flex justify-content-md-between align-items-center">
                        <!-- Icon and Title -->
                        <div class="text-center">
                            <!-- Title -->
                            <div class="ms-2-">
                                <h6 class="card-title mb-0">{{ trip.start_date|date:"l d F Y"|capfirst }}
                                    à {{ trip.start_time|time:"H\h i\m"  }}</h6>
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="text-center">
                            {% if trip.price > 0 %}
                            <h6 class="card-title mb-0">{{ trip.price|intcomma }} FCFA</h6>
                            {% else %}
                            <h6 class="card-title mb-0 text-success">Gratuit</h6>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Card body -->
                    <div class="card-body">
                        <!-- Card header -->
                        <div class="d-md-flex justify-content-sm-center justify-content-md-between align-items-center">
                        <!-- Icon and Title -->
                        <div class="d-flex align-items-center justify-content-center mb-2">
                                    <div class="icon-lg bg-light rounded-circle flex-shrink-0"><i
                                            class="fa-solid fa-car"></i></div>
                                    <!-- Title -->
                                    <div class="ms-2">
                                        <h6 class="card-title mb-0">{{ trip.author.first_name }}</h6>
                                        <span>{{ trip.get_role_display }}</span>
                                    </div>
                                </div>

                         <div class="text-center">
                            <h6 class="card-title mb-0">{{ trip.start_city }} <i class="bi bi-arrow-right"></i> {{ trip.end_city }}</h6>
                            <span>{{ trip.get_trip_type_display }}</span>
                        </div>

                        <!-- Button -->
                        <div class="text-center">
                            <h6 class="card-title mb-0">{{ trip.seat_go }} Place{{ trip.seat_go|pluralize }}</h6>
                            <span>Voir le détail <i class="bi bi-arrow-right me-2"></i></span>
                        </div>
                    </div>
                    <!-- Card body -->
                    </div>
                </div>
                </a>
                <!-- Card item END -->
            {% endfor %}
                <p class="text-center">
                <a href="{% url 'trip-list' %}" class="btn btn-primary">Voir Tous Les trajets</a>
                    <a href="{% url 'trip-create' %}" class="btn btn-dark">Publier Votre Trajet</a>
                </p>
            </div>
        </div>
    </div>
    </section>
    <section class="pt-0 pt-xl-5">
		<section class="bg-light">
			<div class="container text-center">
        <h2>COMMENT ÇA MARCHE ?</h2>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="circle">1</div>
                <h3 class="h6 text-uppercase">Proposer un trajet</h3>
                <p>Le conducteur ou le passager publie un trajet, spécifiant les détails de l'itinéraire,
                    comme les points de départ et d'arrivée (Dakar, Aéroport AIBD, Thies, Saly, Ziguinchor etc.),
                    ainsi que les horaires prévus.</p>
            </div>
            <div class="col-md-4">
                <div class="circle">2</div>
                <h3 class="h6 text-uppercase">Réservation</h3>
                <p class="text-justify">Le demandeur peut être conducteur ou passager, prend contact pour réserver une place.
                    Ensemble, ils finalisent les détails de l'accord, qui peut être une participation aux frais ou
                    un covoiturage sans échange monétaire.</p>
            </div>
            <div class="col-md-4 step">
                <div class="circle">3</div>
                <h3 class="h6 text-uppercase">Partage du trajet</h3>
                <p>Le conducteur et le passager se retrouvent au lieu convenu pour débuter leur trajet ensemble,
                    partageant ainsi un moment de voyage tout en contribuant à une mobilité plus durable.</p>
            </div>
        </div>
    </div>
		</section>

    </section>
    <section class="p-0 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card  border rounded-0 h-100">
						<div class="card-header bg-primary rounded-0">
							<h3 class="text-light fw-bold text-uppercase">Devenez Conducteur</h3>
						</div>
                        <div class="card-body">
                            <div class="passager">
                                <div class="position-relative d-flex align-items-center py-2 my-2">
					<div class="icon-lg bg-light border rounded-circle flex-shrink-0">
						<i class="bi bi-file-earmark-text-fill heading-color"></i>
					</div>
					<div class="nav flex-column ps-3">
						<h6 class="mb-2"><a href="#" class=" stretched-link p-0">1. Réduisez votre empreinte carbone</a></h6>
						<div class="small text-body-secondary">En partageant votre trajet avec d'autres passagers,
                            vous contribuez à réduire le nombre de voitures sur la route,
                            ce qui diminue les émissions de CO2 et aide à protéger l'environnement.</div>
					</div>
				</div>
                                <div class="position-relative d-flex align-items-center py-2 my-2">
					<div class="icon-lg bg-light border rounded-circle flex-shrink-0">
						<i class="bi bi-file-earmark-text-fill heading-color"></i>
					</div>
					<div class="nav flex-column ps-3">
						<h6 class="mb-2"><a href="#" class=" stretched-link p-0">2. Faites des rencontres intéressantes</a></h6>
						<div class="small text-body-secondary">Le covoiturage est une excellente occasion de rencontrer de nouvelles personnes.
                            Vous pouvez élargir votre réseau social et même créer de nouvelles amitiés tout en conduisant.</div>
					</div>
				</div>
                                <div class="position-relative d-flex align-items-center py-2 my-2">
					<div class="icon-lg bg-light border rounded-circle flex-shrink-0">
						<i class="bi bi-file-earmark-text-fill heading-color"></i>
					</div>
					<div class="nav flex-column ps-3">
						<h6 class="mb-2"><a href="#" class=" stretched-link p-0">3. Profitez des avantages exclusifs</a></h6>
						<div class="small text-body-secondary">En tant que conducteur, vous pouvez bénéficier de réductions sur l'entretien de votre véhicule et d'autres avantages proposés par nos partenaires pour rendre vos trajets encore plus agréables.</div>
					</div>
				</div>
                            </div>
							<a href="{% url 'passager' %}" class="btn btn-dark rounded-0">En savoir plus</a>
							{% if user.is_authenticated %}
							<a href="{% url 'passager' %}" class="btn btn-dark rounded-0">Publier un trajet</a>
							{% else %}
							<a href="{% url 'register' %}" class="btn btn-dark rounded-0">Créer un compte</a>
							{% endif %}
                        </div>

                    </div>
                </div>
                 <div class="col-md-6">
                    <div class="card border rounded-0">
						<div class="card-header bg-primary rounded-0">
							<h3 class="text-light fw-bold text-uppercase">Devenez Passager</h3>
						</div>
                        <div class="card-body h-100">
                            <div class="conducteur">
                                <div class="position-relative d-flex align-items-center py-2 my-2">
					<div class="icon-lg bg-light border rounded-circle flex-shrink-0">
						<i class="bi bi-file-earmark-text-fill heading-color"></i>
					</div>
					<div class="nav flex-column ps-3">
						<h6 class="mb-2"><a href="#" class="stretched-link p-0">1. Voyagez confortablement</a></h6>
						<div class="small text-body-secondary">Laissez quelqu'un d'autre prendre le volant et profitez du trajet pour vous détendre, lire un livre, ou même faire une sieste. Le covoiturage vous permet d'arriver à destination frais et reposé.</div>
					</div>
				</div>
                                <div class="position-relative d-flex align-items-center py-2 my-2">
					<div class="icon-lg bg-light border rounded-circle flex-shrink-0">
						<i class="bi bi-file-earmark-text-fill heading-color"></i>
					</div>
					<div class="nav flex-column ps-3">
						<h6 class="mb-2"><a href="#" class="stretched-link p-0">2. Accédez à des destinations difficiles</a></h6>
						<div class="small text-body-secondary">Trouvez des conducteurs qui vont exactement là où vous avez besoin d'aller, même si c'est hors des sentiers battus. Le covoiturage peut souvent vous emmener directement à des endroits non desservis par les transports en commun.</div>
					</div>
				</div>
                                <div class="position-relative d-flex align-items-center py-2 my-2">
					<div class="icon-lg bg-light border rounded-circle flex-shrink-0">
						<i class="bi bi-file-earmark-text-fill heading-color"></i>
					</div>
					<div class="nav flex-column ps-3">
						<h6 class="mb-2"><a href="#" class=" stretched-link p-0">3. Partagez les frais de route</a></h6>
						<div class="small text-body-secondary">En partageant les coûts avec le conducteur et les autres passagers, vous économisez de l'argent sur vos trajets quotidiens ou occasionnels, rendant le covoiturage une option économique et pratique.</div>
					</div>
				</div>
                            </div>
							<a href="{% url 'passager' %}" class="btn btn-dark rounded-0">En savoir plus</a>
							{% if user.is_authenticated %}
							<a href="{% url 'passager' %}" class="btn btn-dark rounded-0">Voir les trajets</a>
							{% else %}
							<a href="{% url 'register' %}" class="btn btn-dark rounded-0">Créer un compte</a>
							{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

	{% show_all_cities %}
	
</main>
{% endblock %}

