{% extends "layout.html" %}

{% block content %}
<main>
    <section class="pt-4 pt-md-5 pb-0 py-5 bg-primary text-light">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 mx-auto text-center">
                    <h1 class="fs-2 mb-2 text-light">Mentions Légales</h1>

                </div>
            </div>
        </div>
    </section>
    <section class="my-5">
        <div class="container">
            <h1 class="h3 text-uppercase">Mentions Légales</h1>
            <hr class="mt-2 mb-4">
    <h2 class="h6 text-uppercase">Éditeur du site</h2>
    <p>L'application web covoiturage.sn, dont le siège social est situé à Thiaroye-sur-mer,
        Dakar, Sénégal BP 20 879.</p>


    <h2 class="h6 text-uppercase">Contact</h2>
    <p>Pour toute question ou demande d'information concernant l'application web, ou tout signalement de contenu ou d'activités
        illicites, l'utilisateur est invité  un message à l'adresse e-mail : contact[@]covoiturage.sn.</p>
            <h2 class="h6 text-uppercase">Hébergement</h2>
    <p>L'application web covoiturage.sn est hébergé par OVH, dont le siège social est situé à
        SAS OVH 2 rue Kellermann BP 80157-59100 Roubaix.</p>
        <p>Téléphone : +33 9 72 10 10 07</p>
            <h2 class="h6 text-uppercase">Conditions d'utilisation</h2>
    <p>L'utilisation de l'application web covoiturage.sn implique l'acceptation pleine et entière des conditions générales
        d'utilisation décrites dans nos chartes. Ces conditions d'utilisation sont susceptibles d'être
        modifiées ou complétées à tout moment, les utilisateurs du site Covoiturage.sn sont donc invités à
        les consulter de manière régulière.</p>
    <h3 class="h6 text-uppercase">Limitation de responsabilité</h3>
    <p>Covoiturage.sn s'efforce de fournir sur le site des informations aussi précises que possible.
        Toutefois, il ne pourra être tenu responsable des omissions, des inexactitudes et des
        carences dans la mise à jour, qu'elles soient de son fait ou du fait des tiers partenaires
        qui lui fournissent ces informations.</p>

    <p>Toutes les informations indiquées sur le site Covoiturage.sn sont données à titre indicatif et
            sont susceptibles d'évoluer. Par ailleurs, les renseignements figurant sur le site Covoiturage.sn
            ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant été apportées depuis
            leur mise en ligne.</p>

    <h3 class="h6 text-uppercase">Propriété intellectuelle</h3>
            <p>Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des
                éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation
                écrite préalable de Covoiturage.sn.</p>

<p>Toute exploitation non autorisée du site ou de l'un quelconque des éléments qu'il contient sera considérée
            comme constitutive d'une contrefaçon et poursuivie conformément à la loi sénégalaise.</p>

        </div>
    </section>
</main>
{% endblock %}

