{% extends "layout.html" %}

{% load static %}

{% block content %}
<main>
<!-- =======================
Search START -->
{% include 'partials/search.html' %}
<!-- =======================
Search START -->

    <section class="pt-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h1 class="h3">Covoiturage au Sénégal</h1>
                    <p>Les derniers trajets</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for trip in trips %}
            <div class="col-lg-12">
                <!-- Card item START -->
                <a href="{{ trip.get_absolute_url }}" class="text-success">
                <div class="card border rounded-2 mb-3 shadow">
                    <!-- Card header -->
                    <div class="bg-light py-3 rounded-top card-header border-bottom d-md-flex justify-content-md-between align-items-center">
                        <!-- Icon and Title -->
                        <div class="text-center">
                            <!-- Title -->
                            <div class="ms-2-">
                                <h6 class="card-title mb-0">{{ trip.start_date }} à {{ trip.start_time }}</h6>
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="text-center">
                            {% if trip.price > 0 %}
                            <h6 class="card-title mb-0">{{ trip.price }}F</h6>
                            {% else %}
                            <h6 class="card-title mb-0 text-success">Gratuit</h6>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Card body -->
                    <div class="card-body">
                        <!-- Card header -->
                        <div class="d-md-flex justify-content-sm-center justify-content-md-between align-items-center">
                        <!-- Icon and Title -->
                        <div class="d-flex align-items-center justify-content-center mb-2">
                                    <div class="icon-lg bg-light rounded-circle flex-shrink-0"><i
                                            class="fa-solid fa-car"></i></div>
                                    <!-- Title -->
                                    <div class="ms-2">
                                        <h6 class="card-title mb-0">{{ trip.author.first_name }}</h6>
                                        <span>{{ trip.user_type }}</span>
                                    </div>
                                </div>

                         <div class="text-center">
                            <h6 class="card-title mb-0">{{ trip.start_city }} <i class="bi bi-arrow-right"></i> {{ trip.end_city }}</h6>
                            <span>{{ trip.trip_type }}</span>
                        </div>

                        <!-- Button -->
                        <div class="text-center">
                            <h6 class="card-title mb-0">{{ trip.seat_go }} Places</h6>
                            <span>Voir le détail <i class="bi bi-arrow-right me-2"></i></span>
                        </div>
                    </div>
                    <!-- Card body -->
                    </div>
                </div>
                </a>
                <!-- Card item END -->
            </div>
            {% endfor %}
        </div>
    </div>
</section>
</main>
{% endblock %}

