<section class="bg-light">
	<div class="container">
		<!-- Title -->
		<div class="row mb-4">
			<div class="col-12 text-center">
				<h2 class="mb-0">Covoiturage Partout au Sénégal</h2>
			</div>
		</div>


			<!-- Card item START -->
			<div class="d-flex flex-wrap">
            {% for city in cities %}
			<h6 class="card-title">
				<a href="{{ city.get_absolute_url }}"
				   class="btn btn-outline-primary text-dark fw-bold rounded-0 p-2 mb-3 text-decoration-none me-2 ms-2">

							{{ city.name }}</a>
						</h6>
            {% endfor %}
			</div>

	</div>
</section>