{% extends "layout.html" %}

{% load static %}
{% load city_tags %}

{% block content %}

<main>
    <section class="pt-4 pt-md-5 pb-0 py-5 bg-primary text-light">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 mx-auto text-center">
                    <h1 class="fs-2 mb-2 text-light">Covoiturage vers {{ city.name }}, Sénégal</h1>
                    <p class="mb-0"></p>
                </div>
            </div>
        </div>
    </section>
	<section class="pt-4 pt-md-5 pb-0 text-dark">
        <div class="container">
            <div class="row">
                <div class="col-12 mx-auto">

						{% if city.description %}
						{{ city.description|safe }}
						{% else %}
						Découvrez les offres de covoiturage pour voyager vers {{ city.name }} et ses environs.
						{% endif %}

                </div>
            </div>
        </div>
    </section>
<!-- =======================
Search START -->
<!-- ======================= Search START ================== -->
    <section class="pt-0 pt-xl-5">
		<section class="bg-light">
			<div class="container text-center">
        <h2>COMMENT ÇA MARCHE ?</h2>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="circle">1</div>
                <h3 class="h6 text-uppercase">Proposer un trajet</h3>
                <p>Le conducteur annonce son trajet, spécifiant les détails de l'itinéraire,
                    comme les points de départ et d'arrivée (Dakar, Aéroport AIBD, Thies, Saly, etc.),
                    ainsi que les horaires prévus.</p>
            </div>
            <div class="col-md-4">
                <div class="circle">2</div>
                <h3 class="h6 text-uppercase">Réservation</h3>
                <p class="text-justify">Le passager prend contact avec le conducteur pour réserver une place.
                    Ensemble, ils finalisent les détails de l'accord, qui peut être une participation aux frais ou
                    un covoiturage sans échange monétaire.</p>
            </div>
            <div class="col-md-4 step">
                <div class="circle">3</div>
                <h3 class="h6 text-uppercase">Partage du trajet</h3>
                <p>Le conducteur et le passager se retrouvent au lieu convenu pour débuter leur trajet ensemble,
                    partageant ainsi un moment de voyage tout en contribuant à une mobilité plus durable.</p>
            </div>
        </div>
    </div>
		</section>

    </section>
    <section class="p-0 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card  border rounded-0 h-100">
						<div class="card-header bg-primary rounded-0">
							<h3 class="text-light fw-bold text-uppercase">Devenez Conducteur</h3>
						</div>
                        <div class="card-body">
                            <div class="passager">
                                <div class="position-relative d-flex align-items-center py-2 my-2">
					<div class="icon-lg bg-primary border rounded-circle flex-shrink-0">
						<i class="bi bi-globe text-white"></i>
					</div>
					<div class="nav flex-column ps-3">
						<h6 class="mb-2"><a href="#" class=" stretched-link p-0">1. Réduisez votre empreinte carbone</a></h6>
						<div class="small text-body-secondary">En partageant votre trajet avec d'autres passagers,
                            vous contribuez à réduire le nombre de voitures sur la route,
                            ce qui diminue les émissions de CO2 et aide à protéger l'environnement.</div>
					</div>
				</div>
                                <div class="position-relative d-flex align-items-center py-2 my-2">
					<div class="icon-lg bg-primary border rounded-circle flex-shrink-0">
						<i class="bi bi-people text-white"></i>
					</div>
					<div class="nav flex-column ps-3">
						<h6 class="mb-2"><a href="#" class=" stretched-link p-0">2. Faites des rencontres intéressantes</a></h6>
						<div class="small text-body-secondary">Le covoiturage est une excellente occasion de rencontrer de nouvelles personnes.
                            Vous pouvez élargir votre réseau social et même créer de nouvelles amitiés tout en conduisant.</div>
					</div>
				</div>
                                <div class="position-relative d-flex align-items-center py-2 my-2">
					<div class="icon-lg bg-primary border rounded-circle flex-shrink-0">
						<i class="bi bi-emoji-sunglasses text-white"></i>
					</div>
					<div class="nav flex-column ps-3">
						<h6 class="mb-2"><a href="#" class=" stretched-link p-0">3. Profitez des avantages exclusifs</a></h6>
						<div class="small text-body-secondary">En tant que conducteur, vous pouvez bénéficier de réductions sur l'entretien de votre véhicule et d'autres avantages proposés par nos partenaires pour rendre vos trajets encore plus agréables.</div>
					</div>
				</div>
                            </div>
							<a href="{% url 'passager' %}" class="btn btn-dark rounded-0">En savoir plus</a>
							{% if user.is_authenticated %}
							<a href="{% url 'passager' %}" class="btn btn-dark rounded-0">Publier un trajet</a>
							{% else %}
							<a href="{% url 'register' %}" class="btn btn-dark rounded-0">Créer un compte</a>
							{% endif %}
                        </div>

                    </div>
                </div>
                 <div class="col-md-6">
                    <div class="card border rounded-0">
						<div class="card-header bg-primary rounded-0">
							<h3 class="text-light fw-bold text-uppercase">Devenez Passager</h3>
						</div>
                        <div class="card-body h-100">
                            <div class="conducteur">
                                <div class="position-relative d-flex align-items-center py-2 my-2">
					<div class="icon-lg bg-primary border rounded-circle flex-shrink-0">
						<i class="bi bi-car-front-fill text-white"></i>
					</div>
					<div class="nav flex-column ps-3">
						<h6 class="mb-2"><a href="#" class="stretched-link p-0">1. Voyagez confortablement</a></h6>
						<div class="small text-body-secondary">Laissez quelqu'un d'autre prendre le volant et profitez du trajet pour vous détendre, lire un livre, ou même faire une sieste. Le covoiturage vous permet d'arriver à destination frais et reposé.</div>
					</div>
				</div>
                                <div class="position-relative d-flex align-items-center py-2 my-2">
					<div class="icon-lg bg-primary border rounded-circle flex-shrink-0">
						<i class="bi bi-globe-europe-africa text-white"></i>
					</div>
					<div class="nav flex-column ps-3">
						<h6 class="mb-2"><a href="#" class="stretched-link p-0">2. Accédez à des destinations difficiles</a></h6>
						<div class="small text-body-secondary">Trouvez des conducteurs qui vont exactement là où vous avez besoin d'aller, même si c'est hors des sentiers battus. Le covoiturage peut souvent vous emmener directement à des endroits non desservis par les transports en commun.</div>
					</div>
				</div>
                                <div class="position-relative d-flex align-items-center py-2 my-2">
					<div class="icon-lg bg-primary border rounded-circle flex-shrink-0">
						<i class="bi bi-cash-stack text-white"></i>
					</div>
					<div class="nav flex-column ps-3">
						<h6 class="mb-2"><a href="#" class=" stretched-link p-0">3. Partagez les frais de route</a></h6>
						<div class="small text-body-secondary">En partageant les coûts avec le conducteur et les autres passagers, vous économisez de l'argent sur vos trajets quotidiens ou occasionnels, rendant le covoiturage une option économique et pratique.</div>
					</div>
				</div>
                            </div>
							<a href="{% url 'passager' %}" class="btn btn-dark rounded-0">En savoir plus</a>
							{% if user.is_authenticated %}
							<a href="{% url 'passager' %}" class="btn btn-dark rounded-0">Voir les trajets</a>
							{% else %}
							<a href="{% url 'register' %}" class="btn btn-dark rounded-0">Créer un compte</a>
							{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

	{% show_all_cities %}

</main>
{% endblock %}

