{% extends "layout.html" %}
{% block content %}
<main>
<section class="pt-4 pt-md-5 pb-0 py-5 bg-primary text-light">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 mx-auto text-center">
                    <h1 class="fs-2 mb-2 text-light">
                        Itinéraire de la ligne {{ line.number }}
                    </h1>
                    <p class="mb-0">
                        Découvrez les arrêts desservis par la ligne {{ line.number }} entre {{ line.departure }} et {{ line.arrival }}.
                    </p>
                </div>
            </div>
        </div>
    </section>
<section class="pt-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-xl-8 col-xxl-9">
                <div class="mb-4">
                    <h3>Ligne {{ line.number }} — {{ line.departure }} ⇔ {{ line.arrival }}</h3>
                </div>
                <div class="stop-line">
                     <div class="stop-item first">
                        <div class="stop-dot"></div>
                         <div class="stop-name"><h6>{{ line.departure }}</h6></div>
                    </div>
                    {% for stop in stops %}
                    <div class="stop-item">
                        <div class="stop-dot"></div>
                        <div class="stop-name">{{ stop.stop.name }}</div>
                    </div>
                    {% endfor %}
                    <div class="stop-item last">
                        <div class="stop-dot"></div>
                        <div class="stop-name"><h6>{{ line.arrival }}</h6></div>
                    </div>
                </div>

            </div>
            <div class="col-xl-4 col-xxl-3">
                {% include 'partials/adsense_vertical.html' %}
            </div>
        </div>
    </div>
</section>
</main>
{% endblock %}