{% extends "layout.html" %}

{% block content %}
<main>
<section class="my-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card bg-light border-0 rounded-0">
                    <div class="card-header">
                        <h3 class="card-header-">Formulaire de Contact</h3>
                    </div>
                    <div class="card-body">
                        <form class="form-validate g-4" method="POST">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <label class="form-label" for="name">Prénom*</label>
                                <input class="form-control" name="name" id="name" type="text" placeholder="Prénom" autocomplete="off" required data-msg="Saisir votre prénom">
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label" for="email">Email*</label>
                                <input class="form-control" name="email" id="email" type="email" placeholder="Adresse email" autocomplete="off" required data-msg="Saisir votre email">
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label" for="message">Votre message *</label>
                                <textarea class="form-control" rows="4" name="message" id="message" placeholder="Ecrire votre message" required="required"></textarea>
                            </div>
                            <div class="form-group mt-3">
                            <button class="btn btn-lg btn-block btn-dark" type="submit">Envoyer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
{% endblock %}