{% extends "layout.html" %}

{% block content %}
<main>
	<section class="pt-4 pt-md-5 pb-0 py-5 bg-primary text-light">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 mx-auto text-center">
                    <h1 class="fs-2 mb-2 text-light">
                        Erreur 404
                    </h1>
                    <p class="mb-0">
                        Page non trouvée
                    </p>
                </div>
            </div>
        </div>
</section>
<section class="pt-0 pt-lg-5 py-5">
    <div class="container text-center py-5">
        <h1>Erreur 404, Page non trouvée</h1>
        <p>Désolé, nous n'avons pas pu trouver la page que vous recherchiez !</p>
        <a href="{% url 'home' %}">Retour à l'accueil</a>
    </div>
</section>
</main>
{% endblock %}
