{% extends "layout.html" %}
{% load humanize %}
{% block content %}
<!-- **************** MAIN CONTENT START **************** -->
<main>
    <section class="pt-4 pt-md-5 pb-0 py-5 bg-primary text-light">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 mx-auto text-center">
                    <h1 class="fs-2 mb-2 text-light">Covoiturage au Sénégal</h1>
                    <p class="mb-0">Je fais ce trajet en tant que {{ trip.get_role_display }}</p>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-5">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card border rounded-2">
                        <!-- Card header -->
                        <div class="card-header bg-light rounded-0 text-center">
                            <h4>Covoiturage {{ trip.get_trip_type_display }}</h4>
                        </div>
                        <!-- Card body START -->
                        <div class="card-body">
                            {% if trip.trip_type == 'one_way' %}
                            <!-- Afficher uniquement l'aller -->
                            <div class="p-3 bg-light rounded-2 d-sm-flex justify-content-sm-between align-items-center mb-4">
                                <h6 class="mb-0">{{ trip.start_city }} <i class="bi bi-arrow-right mx-2"></i> {{ trip.end_city }}</h6>
                                <h6 class="fw-normal mb-0">{{ trip.start_date|date:"l d F Y"|capfirst }} à {{ trip.start_time|time:"H\h i\m" }}</h6>
                                <h6 class="fw-normal mb-0">{{ trip.seat_go }} Places</h6>
                            </div>
                            {% else %}
                            <!-- Afficher l'aller -->
                            <div class="p-3 bg-light rounded-2 d-sm-flex justify-content-sm-between align-items-center mb-4">
                                <h6 class="mb-0">{{ trip.start_city }} <i class="bi bi-arrow-right mx-2"></i> {{ trip.end_city }}</h6>
                                <h6 class="fw-normal mb-0">{{ trip.start_date|date:"l d F Y"|capfirst }} à {{ trip.start_time|time:"H\h i\m" }}</h6>
                                <h6 class="fw-normal mb-0">{{ trip.seat_go }} Places</h6>
                            </div>
                            <!-- Afficher le retour -->
                            <div class="p-3 bg-light rounded-2 d-sm-flex justify-content-sm-between align-items-center mb-4">
                                <h6 class="mb-0">{{ trip.end_city }} <i class="bi bi-arrow-right mx-2"></i> {{ trip.start_city }}</h6>
                                <h6 class="fw-normal mb-0">{{ trip.return_date|date:"l d F Y"|capfirst }} à {{ trip.return_time|time:"H\h i\m" }}</h6>
                                <h6 class="fw-normal mb-0">{{ trip.seat_back }} Places</h6>
                            </div>
                        {% endif %}
                            <!-- bagages -->
                        {% if trip.cabin_baggage != 0 or trip.cabin_baggage != 0%}
                        <div class="p-3 bg-light rounded-2 d-sm-flex justify-content-sm-between align-items-center mb-4">
                            {% if trip.cabin_baggage != 0 %}
                            <h6 class="mb-0">Bagage de 12 kilos : {{ trip.cabin_baggage }} </h6>
                            {% endif %}
                            {% if trip.cabin_baggage != 0%}
                            <h6 class="mb-0">Bagage de 23 kilos : {{ trip.checked_baggage }}</h6>
                            {% endif %}
                        </div>
                        {% endif %}
                            <!-- end bagages -->

                        </div>
                        <!-- Price -->
                        <div class="card-footer bg-light text-center">
                            {% if price == 0 %}
                            <h5 class="h6">Prix total pour 1 passager : Gratuit</h5>
                            {% else %}
                            <h5 class="h6">Prix total pour 1 passager : {{ trip.price|intcomma }} FCFA / Trajet</h5>
                            {% endif %}
                        </div>

                    </div>
                    <!-- Information de contact -->
                    {% if user.is_authenticated %}
                    <div class="card border rounded-2 mt-2 p-4">
                        <div class="row justify-content-between">
                                <div class="col-6">
                                    <div class="d-flex align-items-center justify-content-start mb-2">
                                    <div class="icon-lg bg-light rounded-circle flex-shrink-0"><i
                                            class="fa-solid fa-car"></i></div>
                                    <!-- Title -->
                                    <div class="ms-2">
                                        <h6 class="card-title mb-0">{{ trip.author.first_name }}</h6>
                                        <span>{{ trip.get_role_display }}</span>
                                    </div>
                                </div>
                                </div>

                            <!-- number phone -->
                                <div class="col-6 text-end">
                                    <button class="btn btn-primary btn-lg btn-block" id="afficherNumero" data-phone="{{ trip.author.phone_number }}">
                                        +221*********
                                      </button>
                                </div>
                            <!-- number phone -->

                            </div>
                    </div>
                    {% else %}
                    <p class="mt-3">
                        <a href="{% url 'login' %}" class="btn btn-primary w-100 mb-0 rounded-0">Connectez-vous pour voir les informations de contact</a>
                    </p>
                    {% endif %}
                    <!-- Commentaire -->
                    {% if user.is_authenticated %}
                        {% if trip.description %}
                        <div class="card border rounded-2 mt-2 p-4">
                            <h5 class="mb-3">Commentaire</h5>
                            <p>{{ trip.description|truncatewords:200 }}</p>
                        </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
<!-- =======================
Steps END -->
</main>
<!-- **************** MAIN CONTENT END **************** -->

{% endblock %}
