{% extends "layout.html" %}

{% block content %}
<!-- **************** MAIN CONTENT START **************** -->
<main>
    <section class="pt-5">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card border rounded-2">
                        <!-- Card header -->

                        <div class="card-header bg-light rounded-0 text-center">
                            {% if trip.status == 'Aller-Simple' %}
                            <h5>{{ trip.start_date }} à {{ trip.start_time }} </h5>
                            {% else %}
                            <h4>Trajet Aller Retour</h4>
                            {% endif %}
                        </div>

                        <!-- Card body START -->
                        <div class="card-body">
                            <!-- Title -->
                            <div class="p-3 bg-light rounded-2 d-sm-flex justify-content-sm-between align-items-center mb-4">
                                <!-- Airline Name -->
                                <h6 class="mb-0">{{ trip.start_city }} <i class="bi bi-arrow-right mx-2"></i></span> {{ trip.end_city }}</h6>
                                <h6 class="fw-normal mb-0">{{ trip.seat_go }} Places</h6>
                            </div>

                            <!-- Ticket item START -->
                            <div class="row g-4">
                                <!-- Air line name -->
                                <!-- Airport detail -->

                                <!-- Airport detail -->

                                <div class="col-4 col-md-6 text-end">
                                    {% if trip.role == 'Conducteur' and trip.price > 0 %}
                                    <h5>{{ trip.price }}F</h5>
                                    {% elif trip.role == 'Conducteur' and trip.price == 0 %}
                                    <h5>Gratuit</h5>
                                    {% endif %}
                                </div>

                            </div>
                            <!-- Ticket item END -->
                            {% if trip.status == 'Aller-Retour' %}
                            <!-- Title -->
                            <div class="p-3 bg-light rounded-2 d-sm-flex justify-content-sm-between align-items-center text-center my-4">
                                <!-- Airline Name -->
                                <h6 class="mb-1 mb-sm-0">{{ trip.end_city }} <i class="bi bi-arrow-right mx-2"></i></span> {{ trip.end_city }}</h6>
                                <h6 class="fw-normal mb-0">{{ trip.end_date }}<span class="text-body"> à </span> {{ trip.end_time }}</h6>
                            </div>
                            {% endif %}
                            <!-- Ticket item START -->
                            <div class="row g-4">
                                <!-- Air line name -->
                                {% if trip.status == 'Aller-Retour' %}
                                <div class="col-md-3">
                                    <h5>{{ trip.seat_back }} Places</h5>
                                </div>
                                <!-- Airport detail -->
                                <div class="col-4 col-md-6 text-end">
                                    <!-- Title -->
                                    {% if trip.role == 'Conducteur' and trip.price > 0 %}
                                    <h5>{{ trip.price }}F</h5>
                                    {% elif trip.role == 'Conducteur' and trip.price == 0 %}
                                    <h5>Gratuit</h5>
                                    {% endif %}
                                </div>
                                {% endif %}

                                {% if trip.description %}
                                 <div class="col-12">
                                    <!-- Title -->
                                    <h5>Informations pour ce trajet</h5>
                                     <div class="card  rounded-2">
                                         <div class="card-body">
                                             <p>Informations pour ce trajet</p>
                                         </div>
                                     </div>
                                </div>
                                {% endif %}
                            </div>
                            <!-- Ticket item END -->

                        </div>
                        <!-- Card body END -->
                        <div class="card-footer bg-light text-center">
                            <h5>Prix total pour 1 passager : {{ trip.price }}F</h5>
                        </div>

                    </div>

                    <div class="card border rounded-2 mt-2 p-4">
                        <div class="row justify-content-between">
                                <div class="col-6">
                                    <div class="d-flex align-items-center justify-content-start mb-2">
                                    <div class="icon-lg bg-light rounded-circle flex-shrink-0"><i
                                            class="fa-solid fa-car"></i></div>
                                    <!-- Title -->
                                    <div class="ms-2">
                                        <h6 class="card-title mb-0">{{ trip.author.first_name }}</h6>
                                        <span>{{ trip.role }}</span>
                                    </div>
                                </div>
                                </div>

                            <!-- number phone -->
                                <div class="col-6 text-end">
                                    <button class="btn btn-primary btn-lg btn-block" id="afficherNumero" data-phone="{{ trip.author.phone_number }}">
                                        +221*********
                                      </button>
                                </div>
                            <!-- number phone -->
                               <div class="col-6 mt-3">
                                   <p class="h5-">Voiture : {{ trip.car }}</p>
                                   {% if trip.description %}
                                   <p>{{ trip.description }}</p>
                                   {% endif %}
                               </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- =======================
Steps END -->
</main>
<!-- **************** MAIN CONTENT END **************** -->


{% endblock %}

<script>
  // Code JavaScript pour afficher le numéro
  $(document).ready(function() {
    $('#afficherNumero').click(function() {
      // Exemple de numéro masqué (à remplacer par votre numéro réel)
      var numeroMasque = '**********';

      // Afficher le numéro dans l'élément prévu
      $('#numeroAffiche').removeClass('d-none').text(numeroMasque);
    });
  });
</script>