{% extends "layout.html" %}

{% block content %}
<main>

    <!-- =======================
    Page Banner START -->
    <section class="pt-4 pt-md-5 pb-0 py-3">
        <div class="container pt-5">
            <div class="row">
                <div class="col-12 mx-auto text-center">
                    <h1 class="fs-2 mb-2">Publier votre trajet</h1>
                    <p class="mb-0">En tant que conducteur ou passager</p>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Page Banner END -->

    <!-- =======================
    Main content START -->
    <section>
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <form class="vstack gap-2" method="POST" enctype="multipart/form-data">
						{% csrf_token %}
                        <!-- errors -->
                        {% if form.errors %}
                            <div class="alert alert-danger" role="alert">
                                <strong>Oops!</strong> Il y a des erreurs dans le formulaire.
                            </div>
                        {% endif %}
                        <!-- Owner Detail START -->
                        <div class="card border rounded-2 mb-0 border-radius-0 bg-light">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row g-3">
                                    <!-- car type -->
                                     <div class="col-md-6 mb-3">
                                        <label class="form-label">Je suis : <span class="text-danger">*</span></label>
                                            {% for sexe in form.role %}
                                            <div class="d-flex gap-4">
                                                <div class="form-check radio-bg-light">
                                                    {{ sexe }}
                                                </div>
                                            </div>
                                            {% endfor %}
                                    </div>
                                    <!-- car type -->
                                    <div class="col-md-6 mb-3">
                                        <label class="form-label">Type de trajet : <span class="text-danger">*</span></label>
                                            {% for trip in form.status %}
                                            <div class="d-flex gap-4">
                                                <div class="form-check radio-bg-light" id="tripTypeSection">
                                                    {{ trip }}
                                                </div>
                                            </div>
                                            {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Owner Detail END -->
                          <!-- Owner Detail START -->
                        <div class="card border border-radius-0 bg-light rounded-2">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label class="form-label">Départ</label>
                                        {{ form.start_city }}
                                    </div>
                                    <!-- State -->
                                    <div class="col-md-6">
                                        <label class="form-label">Arrivée</label>
                                        {{ form.end_city }}
                                    </div>
                                    <!-- Contact number -->
                                    <div class="col-md-6">
                                        <label class="form-label">Date Départ</label>
                                        {{ form.start_date }}
                                    </div>
                                    <!-- Email -->
                                    <div class="col-md-6">
                                        <label class="form-label">Heure</label>
                                        {{ form.start_time }}
                                    </div>
                                    <!-- Contact number -->
                                    <div class="col-md-6 div" id="id_end_date">
                                        <label class="form-label">Date Retour</label>
                                        {{ form.end_date }}
                                    </div>
                                    <!-- Email -->
                                    <div class="col-md-6 div" id="id_end_time">
                                        <label class="form-label">Heure</label>
                                        {{ form.end_time }}
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Owner Detail END -->
                        <!-- Owner Detail START -->
                        <div class="card border rounded-2 border-radius-0 bg-light">
                            <!-- Card body -->
                            <div class="card-body">
                                        <div class="row justify-content-between text-sm-center">
                                           <!-- Item start -->
                                            <div class="col-md-4 item">
                                                 <label class="form-label">Nombre de Place</label>
                                                    <h5 class="guest-selector-count mb-0 adults">{{ form.seat_go }}</h5>
                                            </div>
                                            <!-- end Item -->
                                            <!-- Item start -->
                                            <div class="col-md-4 item">
                                                 <label class="form-label">Nombre de Bagage</label>
                                                    <h5 class="guest-selector-count mb-0 adults px-3">{{ form.luggage }}</h5>

                                            </div>
                                            <!-- end Item -->
                                            <!-- Item start -->
                                            <div class="col-md-4 item div" id="id_price">
                                                 <label class="form-label">Prix par place en FCA</label>
                                                    <h5 class="guest-selector-count mb-0 adults">{{ form.price }}</h5>
                                            </div>
                                            <!-- end Item -->
                                        </div>
                                    </div>
                                    <!-- Address -->
                        </div>
                        <!-- Owner Detail END -->
                         <!-- Owner Detail START -->
                        <div class="card border rounded-2 bg-light">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row g-3">
                                    <!-- Address -->
                                    <div class="col-12">
                                        <label class="form-label">Information concernant votre trajet</label>
                                        {{ form.description }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Owner Detail END -->

                        <!-- Button -->
                        <div class="text-end">
                            <button class="btn btn-primary mb-0 me-2" type="submit">Publier mon trajet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Main content END -->

</main>
{% endblock %}