{% extends "layout.html" %}

{% block content %}
<!-- **************** MAIN CONTENT START **************** -->
<main>
    <section class="pt-5">
        <div class="container pt-5">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card border rounded-2">
                        <!-- Card header -->
                        <div class="card-header bg-light rounded-0 text-center">
                            <h4>Covoiturage</h4>
                        </div>
                        <!-- Card body START -->
                        <div class="card-body">

                            <!-- Afficher uniquement l'aller -->
                            <div class="p-3 bg-light rounded-2 d-sm-flex justify-content-sm-between align-items-center mb-4">
                                <h6 class="mb-0">{{ covoiturage.start_city }} <i class="bi bi-arrow-right mx-2"></i> {{ covoiturage.end_city }}</h6>
                                <h6 class="fw-normal mb-0">{{ covoiturage.seat_go }} Places</h6>
                            </div>
                            {% if not covoiturage.seat_back == 0 %}
                            <!-- Afficher l'aller -->
                            <div class="p-3 bg-light rounded-2 d-sm-flex justify-content-sm-between align-items-center mb-4">
                                <h6 class="mb-0">{{ covoiturage.end_city }} <i class="bi bi-arrow-right mx-2"></i> {{ covoiturage.start_city }}</h6>
                                <h6 class="fw-normal mb-0">{{ covoiturage.seat_back }} Places</h6>
                            </div>
                            {% endif %}
                            <!-- Afficher le retour -->
                            <div class="p-3 bg-light rounded-2 d-sm-flex justify-content-sm-between align-items-center mb-4">
                                 <ul>
                                    {% if covoiturage.monday_departure and covoiturage.monday_departure|time:"H:i:s" != "00:00:00" %}
                                        <li>Lundi, Départ à {{ covoiturage.monday_departure|time:"H\h i\m" }}</li>
                                    {% endif %}
                                    {% if covoiturage.tuesday_departure and covoiturage.tuesday_departure|time:"H:i:s" != "00:00:00" %}
                                        <li>Mardi, Départ à {{ covoiturage.tuesday_departure|time:"H\h i\m" }}</li>
                                    {% endif %}
                                    {% if covoiturage.wednesday_departure and covoiturage.wednesday_departure|time:"H:i:s" != "00:00:00" %}
        <li>Mercredi, Départ à {{ covoiturage.wednesday_departure|time:"H\h i\m" }}</li>
    {% endif %}
                                    {% if covoiturage.thursday_departure and covoiturage.thursday_departure|time:"H:i:s" != "00:00:00" %}
        <li>Jeudi, Départ à {{ covoiturage.thursday_departure|time:"H\h i\m" }}</li>
    {% endif %}
                                    {% if covoiturage.friday_departure and covoiturage.friday_departure|time:"H:i:s" != "00:00:00" %}
        <li>Vendredi, Départ à {{ covoiturage.friday_departure|time:"H\h i\m" }}</li>
    {% endif %}
                                    {% if covoiturage.saturday_departure and covoiturage.saturday_departure|time:"H:i:s" != "00:00:00" %}
        <li>Samedi, Départ à {{ covoiturage.saturday_departure|time:"H\h i\m" }}</li>
    {% endif %}
                                    {% if covoiturage.sunday_departure and covoiturage.sunday_departure|time:"H:i:s" != "00:00:00" %}
        <li>Dimanche, Départ à {{ covoiturage.sunday_departure|time:"H\h i\m" }}</li>
    {% endif %}

                                </ul>
                                {% if not covoiturage.seat_back == 0 %}
                                 <ul>
                                    {% if covoiturage.monday_return and covoiturage.monday_return|time:"H:i:s" != "00:00:00" %}
                                        <li>Lundi, Retour à {{ covoiturage.monday_return|time:"H\h i\m" }}</li>
                                    {% endif %}
                                    {% if covoiturage.tuesday_return and covoiturage.tuesday_return|time:"H:i:s" != "00:00:00" %}
        <li>Mardi, Retour à {{ covoiturage.tuesday_return|time:"H\h i\m" }}</li>
    {% endif %}
                                    {% if covoiturage.wednesday_return and covoiturage.wednesday_return|time:"H:i:s" != "00:00:00" %}
        <li>Mercredi, Retour à {{ covoiturage.wednesday_return|time:"H\h i\m" }}</li>
    {% endif %}
                                    {% if covoiturage.thursday_return and covoiturage.thursday_return|time:"H:i:s" != "00:00:00" %}
        <li>Jeudi, Retour à {{ covoiturage.thursday_return|time:"H\h i\m" }}</li>
    {% endif %}
                                    {% if covoiturage.friday_return and covoiturage.friday_return|time:"H:i:s" != "00:00:00" %}
    <li>Vendredi, Retour à {{ covoiturage.friday_return|time:"H\h i\m" }}</li>
{% endif %}
                                    {% if covoiturage.saturday_return and covoiturage.saturday_return|time:"H:i:s" != "00:00:00" %}
        <li>Samedi, Retour à {{ covoiturage.saturday_return|time:"H\h i\m" }}</li>
    {% endif %}
                                    {% if covoiturage.sunday_return and covoiturage.sunday_return|time:"H:i:s" != "00:00:00" %}
        <li>Dimanche, Retour à {{ covoiturage.sunday_return|time:"H\h i\m" }}</li>
    {% endif %}
                                </ul>
                                {% endif %}
                            </div>

                        <!-- Card body END -->


                    </div>
                        <div class="card-footer bg-light text-center">
                            <h5>Prix total pour 1 passager : {{ covoiturage.price }}F</h5>
                        </div>
                    </div>
                    <!-- Card Descrption -->
                    <div class="card border rounded-2 mt-2 p-4">
                        <div class="row justify-content-between">
                                <div class="col-6">
                                    <div class="d-flex align-items-center justify-content-start mb-2">
                                    <div class="icon-lg bg-light rounded-circle flex-shrink-0"><i
                                            class="fa-solid fa-car"></i></div>
                                    <!-- Title -->
                                    <div class="ms-2">
                                        <h6 class="card-title mb-0">{{ covoiturage.author.first_name }}</h6>
                                        <span>{{ trip.role }}</span>
                                    </div>
                                </div>
                                </div>

                            <!-- number phone -->
                                <div class="col-6 text-end">
                                    <button class="btn btn-primary btn-lg btn-block" id="afficherNumero" data-phone="{{ covoiturage.author.phone_number }}">
                                        +221*********
                                      </button>
                                </div>
                            <!-- number phone -->
                               <div class="col-6 mt-3">
                                        <ul>
                                            {% for car in covoiturage.author.cars.all|slice:":3" %}
                                                <li>Voiture : {{ car.brand }}, Modèle : {{ car.model }}</li>
                                                <li>Année : ({{ car.year }}), Couleur : {{ car.color }}</li>
                                            {% endfor %}
                                        </ul>

                                   {% if covoiturage.description %}
                                   <p>{{ trip.description }}</p>
                                   {% endif %}
                               </div>
                            </div>
                    </div>

                    <!-- description -->
                </div>
            </div>
            <!-- description -->

            <!-- end description -->
        </div>

    </section>
</main>
<!-- **************** MAIN CONTENT END **************** -->


{% endblock %}

<script>
  // Code JavaScript pour afficher le numéro
  $(document).ready(function() {
    $('#afficherNumero').click(function() {
      // Exemple de numéro masqué (à remplacer par votre numéro réel)
      var numeroMasque = '**********';

      // Afficher le numéro dans l'élément prévu
      $('#numeroAffiche').removeClass('d-none').text(numeroMasque);
    });
  });
</script>